<main id="main">
	<div class="title">
		<h2>LinkedIn</h2>
		<p>Manage LinkedIn</p>
	</div>
	<div class="content">
		<div id="user-info">
			
		</div>
	</div>
</main>

<script type="text/javascript">

$.ajax({
	type: 'GET',
	url: '/api/linkedin/testapi?accountId={{Account.accountId}}',
	success: function(data){
		console.log(data);
		var userinfo = '<h3>'+data.data.firstName+' '+data.data.lastName+'</h3><p>'+data.data.headline+'</p>';
		$('#user-info').append(userinfo);
	}
})

</script>